:root{
    --light-color: #E3CEB0;
}

body{
    background-image: url("img/background_blue_faded.jpg");
    background-color: #023255;
    background-size: auto 40rem ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    color: var(--light-color);
    text-align: center;
    font-family: 'Rokkitt', serif;
    font-weight: bold;
    text-transform: uppercase;
    box-sizing: border-box;
}

em{
    font-weight: bold;
}

#title{
    height: 80px;
    display: inline-block;
    margin-top: 25px;
    margin-bottom: 30px;
}

#title a{
    font-size: 2rem;
    color: var(--light-color);
    text-decoration: none;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    border: 1px solid var(--light-color);
    border-radius: 3px;
    padding: 0 1rem;
}

#title a img{
    position: relative;
    right: 0.05em;
    width: 1rem;
    transform: rotate(35deg);
}

#title a:hover{
    cursor: pointer;
    font-size: 2.1rem;
}

h2{
    font-size: 1rem;
    font-weight: 300;
}

.player{
    display: inline-block;
    padding: 10px 20px 0px 20px;
    margin: 10px 10px;
    background-image: url("img/player_background.jpg");
    background-size: 100% auto;
    height: 180px;
    border-radius: 10px;
    border: 1px solid var(--light-color);
}


.player-name{
    box-sizing: border-box;
    display: inline-block;
    min-width: 10px;
    height: 1.5rem;
    border: 1px solid transparent;
    filter:blur(0.3pt);
}

.player .flag{
    position: absolute;
    color: #BA3806;
    visibility: hidden;
    top: -3px;
    right: -10px;
}

.player-name:hover{
    border: 1px solid var(--light-color);
    border-style: solid;
    border-radius: 3px;
}

.player .player-name-container{
    position: relative;
    height: 1.5rem;
}

.actions{
    position: absolute;
    top: -0.7rem;
    left: -0.8rem;
    display: none;
}

.player-name-container:hover .actions, .actions:hover{
    cursor: pointer;
    display: unset;
}

.action-icon:hover{
    cursor: pointer;
    text-shadow: 1px 1px 2px black;
}

.action-icon:active{
    text-shadow: none;
}

.form-inline {
    display: inline;
    flex-flow: row wrap;
    align-items: center;
}

.hidden{
    display: none;
}

.form-inline input[type=text]{
    width: 100px;
    font-family: 'Rokkitt', serif;
    background-color: rgba(13, 67, 101, 0.6);
    border-style: 1px solid var(--light-color);
    color: var(--light-color);
    font-weight: bold;
    text-transform: uppercase;
}

.add-player, .add-player:active{
    border: 1px solid white;
    border-radius: 3px;
    cursor: pointer;
    margin: 20px auto;
    width: 200px;
}

.shadow-on-hover:hover{
    box-shadow: 1px 1px 2px black;
    text-shadow: 1px 1px 2px black;
}

.shadow-on-hover:active{
    box-shadow: none;
    text-shadow: none;
}

.dice-image-container{
    width: 150px;
    height: 150px;
    position: relative;
}

.align-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.dice-image-container canvas{
    opacity: 0.93;
    display: inline-block;
    height: 100px;
    width: 100px;
    vertical-align: middle;
}

#result{
    margin-top: 40px;
}

#result em{
    color:lightgrey;
}

#stats-section{
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
}

#stats-section h2{
    font-size: 1.5rem;
}

#stats{
    text-align: left;
}

#stats table{
    width: 100%;
    table-layout: fixed;
    word-break: break-all;
}

#stats td:first-child{
    width: 8em;
}

#player-template{
    visibility: hidden;
}