body{
    background-color: #004A00;
    color:white;
    text-align: center;
    font-family: 'Freckle Face', cursive;
    vertical-align:middle;
    box-sizing: border-box;
}

#title{
    height: 80px;
    display: inline-block;
}

#title a{
    font-size: 2.5rem;
    color:white;
    text-decoration: none;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    /* vertical-align: middle; */
    display: inline-block;
}

#title a:hover{
    cursor: pointer;
    font-size: 2.6rem;
    /* color: #D69465; */
    text-shadow: 1px 1px 2px black;
}

#title a:active{
    text-shadow: none;
}

h2{
    font-size: 1rem;
    font-weight: 300;
}

.player{
    display: inline-block;
    padding: 0 20px;
    /* border: 3px solid white;
    border-radius: 3px; */
}

.player-name{
    box-sizing: border-box;
    display: inline-block;
    min-width: 10px;
    min-height: 1rem;
    border: 1px solid transparent;
}

.player-name:hover{
    border: 1px solid white;
    border-style: solid;
    border-radius: 3px;
}

.player h2{
    position: relative;
}

.pencil-icon{
    position: absolute;
    bottom: 1rem;
    display: none;
}

.player-name:hover ~ .pencil-icon{
    display: unset;
}

.form-inline {
    display: inline;
    flex-flow: row wrap;
    align-items: center
}

.hidden{
    display: none;
}

.form-inline input[type=text]{
    width: 80px;
}

.add-player, .add-player:active{
    border: 1px solid white;
    border-radius: 3px;
    cursor: pointer;
    margin: 20px auto;
    width: 200px;
}

.add-player:hover{
    box-shadow: 1px 1px 2px black;
    text-shadow: 1px 1px 2px black;
}

.add-player:active{
    box-shadow: none;
    text-shadow: none;
}

#result{
    margin-top: 40px;
}

#player-template{
    visibility: hidden;
}